index.html<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html::headFiles">

</head>
<body>

<div class="row" id="head" style="background-color: #117a8b">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h3 class="poshead" style="padding-top: 10px">POS</h3>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7" >
        <h4 style="padding-top: 10px; color: #fbfcfc">  ORDER FORM</h4>
    </div>
</div>

<div class="row" >
    <!--side bar-->
    <div class="col-md-2" id="sidebar">
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover">
            <div class="col-md-12">
                <a href="index.html"><h4 id="dash">HOME</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>

        <div class="row sidehover">
            <div class="col-md-12">
                <a href="customerform.html"><h4 id="dash">CUSTOMER</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover" >
            <div class="col-md-12">
                <a href="itemForm.html"><h4 id="dash">ITEM</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover">
            <div class="col-md-12">
                <a href="OrderForm.html"><h4 id="dash">ORDER</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover">
            <div class="col-md-12">
                <a href="viewReport.html"><h4 id="dash">VIEW REPORT</h4></a>
            </div>
        </div>
        <div class="row" style="height: 460px">


        </div>
    </div>
    <!--side bar end-->
    <!--form area-->
    <div class="col-md-10">
        <!--uper text are bigin-->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <form >
                    <div class="form-group">
                        <label for="formGroupExampleInput"> ORDER ID</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" >
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">ORDER DATE</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" >
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">CUSTOMER ID </label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" >
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">SEARCH CUSTOMER</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" >
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">CUSTOEMR ADDRESS</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" >
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Credit Limit</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" >
                    </div>

                </form>


            </div>
            <div class="col-md-2"></div>

            <div class="col-md-4">
                <form >
                    <div class="form-group">
                        <label for="formGroupExampleInput">Customer Id</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" >
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Customer Name</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" >
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Customer Address </label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" >
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Credit Limit</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" >
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Credit Limit</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Credit Limit</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" >
                    </div>

                </form>
            </div>
            <div class="col-md-1"></div>

        </div>
        <!--uper text area end-->
        <div class="row" style=" height: 10px;background-color:  #17a2b8">
        </div>
        <div class="row" style="height: 20px"></div>
        <div  class="row" >

            <div class="col-md-1" > </div>
            <div class="col-md-10">
                <table class="table table-hover">
                    <thead>
                    <tr id="tablehead">
                        <th scope="col">Item code</th>
                        <th scope="col">Description</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Total</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">P1</th>
                        <td>sun light</td>
                        <td>50.00</td>
                        <td>5</td>
                        <td>250.00</td>
                    </tr>
                    <tr>
                        <th scope="row">P2</th>
                        <td></td>
                        <td></td>
                        <td>@</td>
                        <td>@</td>
                    </tr>
                    <tr>
                        <th scope="row">P3</th>
                        <td colspan="2">  </td>
                        <td>@</td>
                        <td>@</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>

        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-2"><input type="button" class="clearbtn" value="Clear">
                <input type="button" class="buttonProceed" value="Proceed"></div>
            <div class="col-md-1"></div>



        </div>
    </div>
    <!--form area end-->



    <div class="row">

    </div>

</div>
</body>
</html>