index.html<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html::headFiles">

</head>
<body>
<div class="row" id="head" style="background-color: #117a8b">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h3 class="poshead" style="padding-top: 10px">POS</h3>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7" >
        <h4 style="padding-top: 10px; color: #fbfcfc"> HOME PAGE</h4>
    </div>
</div>
<!--side bar-->
<div class="row" >

    <div class="col-md-2" id="sidebar">
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover">
            <div class="col-md-12">
                <a href="index.html"><h4 id="dash">HOME</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>

        <div class="row sidehover">
            <div class="col-md-12">
                <a href="customerform.html"><h4 id="dash">CUSTOMER</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover" >
            <div class="col-md-12">
                <a href="itemForm.html"><h4 id="dash">ITEM</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover">
            <div class="col-md-12">
                <a href="OrderForm.html"><h4 id="dash">ORDER</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover">
            <div class="col-md-12">
                <a href="viewReport.html"><h4 id="dash">VIEW REPORT</h4></a>
            </div>
        </div>
        <div class="row" style="height: 380px">


        </div>
    </div>
    <!--form area-->
    <div class="col-md-10">

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <main role="main">

                    <!-- Main jumbotron for a primary marketing message or call to action -->
                    <div class="row" style="height: 15px"></div>
                    <div class="jumbotron">
                        <div class="container">
                            <h1 class="display-2"><b style="">SAMAN CEMENT WORKERS</b></h1>
                            <p>WE PROVIDE BEST QUALITY PRODUCTS FOR NATION </p>
                            <p><a class="btn btn-primary btn-lg" href="#" role="button">About Us »</a></p>
                        </div>
                    </div>

                    <div class="container">
                        <!-- Example row of columns -->
                        <div class="row">
                            <div class="col-md-4">
                                <h3>OUR VISION</h3>
                                <p>PROVIDE BEST QUALITY PRODUCTS FOR NATION <br><img src="images/images (1).jpg" height="178"
                                                                                     width="267"/></p>
                                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                            </div>
                            <div class="col-md-4">
                                <h3>OUR WORK PLACE</h3>
                                <p>MORE THAN 5 ACRES <BR>75 EMPLOES <BR><img src="images/300px-Concrete_Batch_Plant_.jpg" height="180" width="240"/></p>
                                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                            </div>
                            <div class="col-md-4">
                                <h3>OUR PRODUCTS</h3>
                                <p>MORE THAN <br>35 PRODUCTS <br><img src="images/153656392520180910.jpg" height="180"
                                                                      width="271"/>
                                </p>
                                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
                            </div>
                        </div>

                        <hr>

                    </div> <!-- /container -->

                </main></div>
            <div class="col-md-1"></div>
        </div>

    </div>
</div>
</div>

</body>
</html>