<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html::headFiles">

</head>
<body>
<div class="row" id="head" style="background-color: #117a8b">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h3 class="poshead" style="padding-top: 10px">POS</h3>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7" >
        <h4 style="padding-top: 10px; color: #fbfcfc"> VIEW REPORT</h4>
    </div>
</div>
<!--side bar-->
<div class="row" >

    <div class="col-md-2" id="sidebar">
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover">
            <div class="col-md-12">
                <a href="index.html"><h4 id="dash">HOME</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>

        <div class="row sidehover">
            <div class="col-md-12">
                <a href="customerform.html"><h4 id="dash">CUSTOMER</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover" >
            <div class="col-md-12">
                <a href="itemForm.html"><h4 id="dash">ITEM</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover">
            <div class="col-md-12">
                <a href="OrderForm.html"><h4 id="dash">ORDER</h4></a>
            </div>
        </div>
        <div class="row" style="height: 30px">


        </div>
        <div class="row sidehover">
            <div class="col-md-12">
                <a href="viewReport.html"><h4 id="dash">VIEW REPORT</h4></a>
            </div>
        </div>
        <div class="row" style="height: 380px">


        </div>
    </div>
    <!--form area-->
    <div class="col-md-10">

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
            </div>
            <div class="col-md-1"></div>
        </div>

    </div>
</div>
</div>
</body>
</html>